.gram__footer {
  display: flex;
  font-size: 13px;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  margin: auto;
  width: 626px;
  height: 240px;
  background-color: white;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 0px 0px 5px 5px;
}

.gram__footerLikes {
  font-weight: bold;
  flex-direction: column;
  padding-left: 10px;
}

.gram__footerUserPost {
  padding-left: 10px;
}
.gram__footerComment {
  padding-left: 10px;
}

.gram__footerTime {
  margin-bottom: 5px;
  padding-left: 10px;
}

.gram__footerForm {
  padding-left: 10px;
  padding-bottom: 5px;
}

.gram__footerIcons {
  display: flex;
  padding-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.gram__footerIcons > button {
  outline: none;
  border: none;
  text-decoration: none;
  background-color: white;
  cursor: pointer;
}

.gram__footerForm {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 0.5);
}

.gram__footerFormPost > button {
  box-sizing: border-box;
  position: relative;
  -webkit-box-orient: vertical;
  display: inline-flex;
  vertical-align: top;
  cursor: pointer;
  appearance: none;
  outline: none;
  border: none;
  width: auto;
  margin-left: 550px;
  /* margin-bottom: 200px; */
  background-color: white;
  color: lightskyblue;
}

.gram__footerForm > form > textarea {
  position: relative;
  padding-top: 10px;
  width: 600px;
  resize: none;
  border: none;
  outline: none;
}
