.gram__footer {
  display: flex;
  font-size: 13px;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  margin: auto;
  width: 626px;
  height: 240px;
  background-color: white;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 0px 0px 5px 5px;
}

.gram__footerLikes {
  font-weight: bold;
  flex-direction: column;
  padding-left: 10px;
}

.gram__footerUserPost {
  padding-left: 10px;
}
.gram__footerComment {
  padding-left: 10px;
}

.gram__footerTime {
  padding-left: 10px;
}

.gram__footerForm {
  padding-left: 10px;
  padding-bottom: 5px;
}

.gram__footerIcons {
  display: flex;
  padding-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.gram__footerIcons > button {
  outline: none;
  border: none;
  text-decoration: none;
  background-color: white;
  cursor: pointer;
}

.gram__footerForm {
  display: flex;
  border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 0.5);
}

.gram__footerForm > form > button {
  outline: none;
  border: none;
  background-color: white;
}

.gram__footerForm > form > textarea {
  padding-top: 10px;
  resize: none;
  border: none;
  outline: none;
}
