.header {
  margin: auto;
  display: flex;
  flex-direction: row;
  /* flex-flow: row wrap; */
  background-color: white;
  height: 54px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  overflow: hidden;
  z-index: 1;
}

.header > img {
  display: flex;
  margin: auto;
  max-height: 90px;
  max-width: 100px;
}

.header__icons {
  display: flex;
  align-items: center;
  margin: auto;
}

.header__searchForm {
  display: flex;
  padding: 10px;
  font-size: 10px;
  text-align: center;
  margin: auto;
  outline: none;
  background: white;
}

.header__searchForm > input {
  display: flex;
  text-align: center;
  outline: none;
  background: #fafafa;
  border: solid 1px #dbdbdb;
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  .header {
    display: none;
    height: 54px;
    background-image: url("https://www.dafont.com/forum/attach/orig/7/3/737566.png?1");
  }
}
